$bgColor: orange;
$main_color: #0364fe;
$hover_color: #0175fe;

$color_green: #35bd55;
$hover_green: #46c563;

$color_f: #fff;
$color_f6: rgba(255, 255, 255, 0.6);

.inline-block {
  display: inline-block !important;
}
.flex {
  display: flex !important;
  & > div {
    flex-shrink: 0;
  }
}
.inline-flex {
  display: inline-flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.flex-shrink-0 {
  flex-shrink: 0;
}

.m-0 {
  margin: 0 !important;
}
.p-0 {
  padding: 0 !important;
}

.m-2 {
  margin: 2px !important;
}
.mt-2 {
  margin-top: 2px !important;
}
.mr-2 {
  margin-right: 2px !important;
}
.mb-2 {
  margin-bottom: 2px !important;
}
.ml-2 {
  margin-left: 2px !important;
}
.mh-2 {
  margin: 0 2px !important;
}
.mv-2 {
  margin: 2px 0 !important;
}

.p-2 {
  padding: 2px !important;
}
.pt-2 {
  padding-top: 2px !important;
}
.pr-2 {
  padding-right: 2px !important;
}
.pb-2 {
  padding-bottom: 2px !important;
}
.pl-2 {
  padding-left: 2px !important;
}
.ph-2 {
  padding: 0 2px !important;
}
.pv-2 {
  padding: 2px 0 !important;
}

.m-4 {
  margin: 4px !important;
}
.mt-4 {
  margin-top: 4px !important;
}
.mr-4 {
  margin-right: 4px !important;
}
.mb-4 {
  margin-bottom: 4px !important;
}
.ml-4 {
  margin-left: 4px !important;
}
.mh-4 {
  margin: 0 4px !important;
}
.mv-4 {
  margin: 4px 0 !important;
}

.p-4 {
  padding: 4px !important;
}
.pt-4 {
  padding-top: 4px !important;
}
.pr-4 {
  padding-right: 4px !important;
}
.pb-4 {
  padding-bottom: 4px !important;
}
.pl-4 {
  padding-left: 4px !important;
}
.ph-4 {
  padding: 0 4px !important;
}
.pv-4 {
  padding: 4px 0 !important;
}

.m-8 {
  margin: 8px !important;
}
.mt-8 {
  margin-top: 8px !important;
}
.mr-8 {
  margin-right: 8px !important;
}
.mb-8 {
  margin-bottom: 8px !important;
}
.ml-8 {
  margin-left: 8px !important;
}
.mh-8 {
  margin: 0 8px !important;
}
.mv-8 {
  margin: 8px 0 !important;
}

.p-8 {
  padding: 8px !important;
}
.pt-8 {
  padding-top: 8px !important;
}
.pr-8 {
  padding-right: 8px !important;
}
.pb-8 {
  padding-bottom: 8px !important;
}
.pl-8 {
  padding-left: 8px !important;
}
.ph-8 {
  padding: 0 8px !important;
}
.pv-8 {
  padding: 8px 0 !important;
}

.m-10 {
  margin: 10px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.mh-10 {
  margin: 0 10px !important;
}
.mv-10 {
  margin: 10px 0 !important;
}

.p-10 {
  padding: 10px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pr-10 {
  padding-right: 10px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pl-10 {
  padding-left: 10px !important;
}
.ph-10 {
  padding: 0 10px !important;
}
.pv-10 {
  padding: 10px 0 !important;
}

.m-12 {
  margin: 12px !important;
}
.mt-12 {
  margin-top: 12px !important;
}
.mr-12 {
  margin-right: 12px !important;
}
.mb-12 {
  margin-bottom: 12px !important;
}
.ml-12 {
  margin-left: 12px !important;
}
.mh-12 {
  margin: 0 12px !important;
}
.mv-12 {
  margin: 12px 0 !important;
}

.p-12 {
  padding: 12px !important;
}
.pt-12 {
  padding-top: 12px !important;
}
.pr-12 {
  padding-right: 12px !important;
}
.pb-12 {
  padding-bottom: 12px !important;
}
.pl-12 {
  padding-left: 12px !important;
}
.ph-12 {
  padding: 0 12px !important;
}
.pv-12 {
  padding: 12px 0 !important;
}

.m-16 {
  margin: 16px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.mr-16 {
  margin-right: 16px !important;
}
.mb-16 {
  margin-bottom: 16px !important;
}
.ml-16 {
  margin-left: 16px !important;
}
.mh-16 {
  margin: 0 16px !important;
}
.mv-16 {
  margin: 16px 0 !important;
}

.p-16 {
  padding: 16px !important;
}
.pt-16 {
  padding-top: 16px !important;
}
.pr-16 {
  padding-right: 16px !important;
}
.pb-16 {
  padding-bottom: 16px !important;
}
.pl-16 {
  padding-left: 16px !important;
}
.ph-16 {
  padding: 0 16px !important;
}
.pv-16 {
  padding: 16px 0 !important;
}

.m-20 {
  margin: 20px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.mh-20 {
  margin: 0 20px !important;
}
.mv-20 {
  margin: 20px 0 !important;
}

.p-20 {
  padding: 20px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pr-20 {
  padding-right: 20px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pl-20 {
  padding-left: 20px !important;
}
.ph-20 {
  padding: 0 20px !important;
}
.pv-20 {
  padding: 20px 0 !important;
}

.m-24 {
  margin: 24px !important;
}
.mt-24 {
  margin-top: 24px !important;
}
.mr-24 {
  margin-right: 24px !important;
}
.mb-24 {
  margin-bottom: 24px !important;
}
.ml-24 {
  margin-left: 24px !important;
}
.mh-24 {
  margin: 0 24px !important;
}
.mv-24 {
  margin: 24px 0 !important;
}

.p-24 {
  padding: 24px !important;
}
.pt-24 {
  padding-top: 24px !important;
}
.pr-24 {
  padding-right: 24px !important;
}
.pb-24 {
  padding-bottom: 24px !important;
}
.pl-24 {
  padding-left: 24px !important;
}
.ph-24 {
  padding: 0 24px !important;
}
.pv-24 {
  padding: 24px 0 !important;
}

.m-30 {
  margin: 30px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mr-30 {
  margin-right: 30px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.mh-30 {
  margin: 0 30px !important;
}
.mv-30 {
  margin: 30px 0 !important;
}

.p-30 {
  padding: 30px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pr-30 {
  padding-right: 30px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.pl-30 {
  padding-left: 30px !important;
}
.ph-30 {
  padding: 0 30px !important;
}
.pv-30 {
  padding: 30px 0 !important;
}

.m-50 {
  margin: 50px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mr-50 {
  margin-right: 50px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.ml-50 {
  margin-left: 50px !important;
}
.mh-50 {
  margin: 0 50px !important;
}
.mv-50 {
  margin: 50px 0 !important;
}

.p-50 {
  padding: 50px !important;
}
.pt-50 {
  padding-top: 50px !important;
}
.pr-50 {
  padding-right: 50px !important;
}
.pb-50 {
  padding-bottom: 50px !important;
}
.pl-50 {
  padding-left: 50px !important;
}
.ph-50 {
  padding: 0 50px !important;
}
.pv-50 {
  padding: 50px 0 !important;
}

.pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default;
}

body {
  p {
    margin: 0;
    padding: 0;
  }

  a {
    color: #0175fe;
    transition: all 0.1s linear;
    &:hover {
      color: #2084f6;
    }
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-overflow-2 {
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-overflow-3 {
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-overflow-4 {
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 7px;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  background-color: rgba(40, 44, 52, 0.1);
  border: 3px solid transparent;
  border-radius: 7px;
}
